
.main {

    height: 1000px;
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}



/* trèn đè css boottraps */

.nav-link {
  /* padding: 1.2rem 1rem !important; */
  font-size: 1.6rem;
  padding-right: 20px !important;
}

.nav-link:hover {
  /* padding: 1.2rem 1rem !important; */
  color: yellow !important;
  transition: color 0.5s ;
}


.btn-DANGKI:hover {
  color: yellow !important;
  border: 1px solid yellow !important;
  transition: 0.5s ;
}

.navbar-dark .navbar-toggler, .navbar-light .navbar-toggler {
  display: block;
}

.navbar--opacity {
  background-color: rgba(1,1,1,0.2);
}


@media only screen and (max-width: 600px) {
 .text-center h1 {
    font-size: 2.7rem !important;
    padding: 20px 0;
  }
  .carousel-control-next, .carousel-control-prev{
    display: none !important;
  }
  .text-center h5{
    padding: 0 20px;
    line-height: 1.9rem !important;
    font-size: 1.4rem !important;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button {
    cursor: pointer;
  }
  
          .simple-card {
            background-color: white;
            border-radius: 2rem;
            padding: 1.5rem;
            box-shadow: var(--shadow);
          }
          .simple-card-image {
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
          }
          .simple-card-image > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
          }
          .simple-card-content {
            padding: 3rem 1rem;
          }
          .simple-card-title {
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.6;
            margin-bottom: 1.5rem;
            color: #2b2b2b;
          }
          .simple-card-desc {
            color: #c7cbdc;
            font-weight: 300;
            line-height: 1.6;
            font-size: 1.4rem;
            margin-bottom: 3rem;
          }
          .simple-card-line {
            width: 30%;
            height: 2px;
            margin-left: auto;
            background-color: var(--primary);
          }

          .container-body{
            padding-top: 40px;
            padding-bottom: 70px;
          }
          .container-body-name{
            text-align: center;
            padding: 40px 0 ;
          }
          .container-body-name h1{
            color: #000000;
            font-family: "Open Sans", Sans-serif;
            font-size: 35px;
            font-weight: 700;
            text-transform: capitalize;
            position: relative;
          }
          .container-body-name__icon{
            display: flex;
            justify-content: center;
            position: relative;
            padding: 14px 0;
          }
          .container-body-name__icon::before {
            content: "";
            display: block;
            position: absolute;
            width: 5%;
            border: 1px solid rgba(1,1,1,0.75);
            left: 50%;
            transform: translateX(-135%);
            bottom: 50%;
          }

          .container-body-name__icon::after {
            content: "";
            display: block;
            position: absolute;
            width: 5%;
            border: 1px solid rgba(1,1,1,0.75);
            left: 50%;
            transform: translateX(36%);
            bottom: 50%;
          }

          .container-body-name__icon i {
            font-size: 2.8rem;
            /* background-color: red; */
            color: #54595F;

          }
          .container-body-content{
           padding-left: 100px;
          }
          .container-body-content__name{
           font-size: 2.9rem;
           color: #000000;
           padding-bottom: 15px;
          }
          .container-body-content-attention{
          display: flex;
          align-items: center;
          padding: 6px 0;
          }
          .container-body-content-attention i{
            transform: translateY(-18%);
            padding-right: 12px;
            font-size: 1.8rem;
            color: var(--primary);
          }
          .container-body-content-attention h4{
            font-size: 1.8rem;
            line-height: 2.4rem;
          }

          .container-body-img{
          padding: 0 50px ;
          }

.container-body-review {
  background-image: url(../img/Thiết\ kế\ không\ tên.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container-body-review img {
  width: 150px;
  margin: auto;
  padding-top: 90px;
}


.container-body-review__name, .container-body-review__title {
  text-align: center;
  color: white;
padding-top: 20px;
}

.container-body-review__name {
  font-size: 3.8rem;
  padding: 4px 0;
  font-weight: 600;
}

.container-body-review__title {
  font-size: 1.9rem;
  padding: 0 200px;
}



/* TỔNG HỢP NGÀNH HỌC */

.container-body-subjects{
  padding: 70px 0;
  background-color: #fafafa;
}

.container-body-subjects h1 {
  text-align: center;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
}

.container-body-subject {
  /* background-color: #c2c9dd; */
  text-align: center;
  color: #000000;
  margin: 20px;
  box-shadow: rgb(215 215 215 / 50%) 0px 4px 16px;
  border-radius: 8px;
  height: 500px; 
  cursor: pointer;
}

.container-body-subject img {
  width: 100%;
  padding: 10px;
  border-radius: 15px;

}

.container-body-subject h2{
  padding: 10px 0;
  font-weight: 600;
  font-size: 2.2rem;
}

.container-body-subject h4{
  padding:  0 10px 30px;
  line-height: 2.0rem;
  text-align: justify;
  font-weight: 300;
  font-size: 1.6rem;
  color: #777;
  
}

.container-body-subject-code {
display: flex;
justify-content: space-around;
font-size: 1.8rem;
margin: 0 20px 20px;
background-color: rgba(0,0,0,0.05);
box-shadow: 0px 1px 7px 1px rgba(1,1,1,0.5);
border-radius: 6px;
font-weight: 500;
}

.container-body-subject-code__industry {

}

.container-body-subject-code__targets {

}
